@model PagedList.IPagedList<StoreFront.DATA.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Products";
}

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
<div>
    @Html.ActionLink("Product Library", "Index", "Products", null, new { @class = "btn btn-outline-light mt-auto" })
</div>
}

<div class="row panel-body panel-primary">
    <br />
    <form method="get" action="/Filters/ProductQS" class=" pull-left p-2">
        <div class="form-group flex-column justify-content-end">
            <label for="searchFilter" class="p-4">Search By:</label>

            <input type="text" name="searchFilter" placeholder="Search by name" class="p-2" />
            <input type="submit" value="Search" class="btn btn-outline-light mt-auto p-2" />
            <div>
                <label for="searchFilter" class="p-3">Search By Category</label>
                @Html.DropDownList("SearchFilter", null, htmlAttributes: new { @class = "text-center" })
                <input type="submit" value="Search" class="btn btn-outline-light mt-auto p-2" />
            </div>
        </div>
    </form>
</div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Products", new { page, searchString = ViewBag.SearchString }))

    <div class="row row-cols-2 row-cols-sm-3 row-cols-sm-12 justify-content-center" id="ProductsTable">
        @foreach (var item in Model)
        {
            <div class="col mb-5" style="width: 225px; height: 345px; color:black;">
                <div class="card h-100" id="Product-@item.ProductID">
                    <!-- Product image-->
                    <img class="card-img-top img-thumbnail" src="~/Content/imgs/t_@item.ProductImage" alt="@item.ProductName" title="@item.ProductName" />
                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> @Html.DisplayFor(modelItem => item.ProductName)</h5>
                            <h6 class="fw-bold">@Html.DisplayFor(modelItem => item.Category.CategoryName)</h6>
                            <!-- Product price-->
                            @Html.DisplayFor(modelItem => item.Price)
                            <br />
                            @Html.DisplayFor(modelItem => item.StockStatu.InStock)
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-0 pt-0 border-top-0 sm-transparent">
                        <div class="text-center"><a href="" class="DetailsLink btn btn-outline-dark mt-auto" id="@item.ProductID">Details</a></div>
                        <div class=" text-center">
                            @Ajax.ActionLink("Delete", "AJAXDelete", "Products", new { id = item.ProductID },
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         Confirm = $"Are you sure you want to delete {item.ProductName} from the store?",
                         OnSuccess = "deleteConfirmed",
                         OnFailure = "deleteFailed"
                     }
                     )
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

    <div id="ProductDetails"></div>


    @section scripts{
        <script>
            //*************************************AJAX DELETE ***************************************

            function deleteConfirmed(response, status, data) {
                var rowId = "#Product-" + response.id;
                $("#ProductsTable").find(rowId).remove();

                $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
            }

            function deleteFailed(response, status, data) {
                $("#MessageContent").html("<div class='alert alert-danger'> Delete unsuccessful.");
            }

            //********************* SHOW DETAILS DIALOG BOX *******************
            $('a.DetailsLink').click(function (e) {
                e.preventDefault();
                $("#ProductDetails").data('pId', $(this).attr('id'))
                    .dialog({
                        width: 800,
                        height: 800,
                        open: function () {
                            var prodID = $(this).data('pId');
                            $(this).load("/Product/ProductDetails/" + prodID);
                        },
                        title: "Product Details",
                        modal: true,
                        resizable: true
                    });//End conversion to dialog box

            });//End details button click event handler

        </script>
    }